// Colors //

body {
// I use css-variables because it's easy to add new color themes.
// Do not set color transition here, it doesn't work with ccs-var that way.
	--color01: #ffffff; // primary
	--color01a: #ffffff99; // primary alpha
	// --color02: #201d29; // secondary
	--color02: #262231; // secondary
	--color02a: #26223199; // secondary alpha
	--color03: #e30f1f; // accent
	--color04: #E0CC19; // additional
	--color05: #ddd; // ui elements (scrollbar, etc.)
	--color06: #333; // decoration (shadows, etc.)
	--color07: #ff0000; // error
	--color08: #099205; // success
	
	// TODO: use Google variant
	// --link-color
	// --link-active-color
	// --text-dark-color
	// --text-light-color
	// --color-button
	// --color-button-active
	// --color-button-fill-active
	// --color-link
	// --color-header
}
