@import "../../../scss/variables.scss";

.default, .noCloseButton {
	// background-color: orange;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity $timer-popup, visibility $timer-popup;
}

.active {
	opacity: 1;
	visibility: visible;
}
.closeBtn {
	position: absolute;
	top: rem(10);
	right: rem(10);
	z-index: 3;
	cursor: pointer;
	.noCloseButton & {
		display: none;
	}
	svg {
		width: rem(10);
		height: rem(10);
		fill: var(--color02);
	}
}